.packages-title{
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
    color: #023E8A;;
}
.package-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 30px 0 50px 0;
    text-align: center;
}
.package{
    width: 400px;
    padding: 40px 20px 10px 20px;
    border-radius: 19px;
    border-radius: 10px;
background: #ADE8F4;
box-shadow:  5px 5px 10px #93c5cf,
             -5px -5px 10px #c7ffff;
    margin-top: 100px;
    margin: 0 auto;
}
.package h5 {
    text-transform: uppercase;
    font-size: 30px;
}
.package h3{
    font-size: 35px;
    color: #03045E;
}
.package ul{
    padding: 0;
}
.package ul li{
    list-style: none;
    font-weight: 500;
    padding: 5px 0;
    font-size: 18px;
}
@media only screen and (max-width: 576px) {
    .package-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width:577px) and (max-width:992px){
    .package-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}