.footer-page{
    background: #000;
    margin-top: 100px;

}
.footer-title{
    text-align: center;
    text-transform: uppercase;
    /* margin: 50px 0 30px 0; */
    padding-top: 30px;
    color: #999;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color: #777;
    padding: 30px 0 50px 0;
}
.footer-container .address ul li{
    list-style: none;

}

@media only screen and (max-width: 576px) {
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width:577px) and (max-width:992px){
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}