.blog-title{
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}
@media only screen and (max-width:576px){
    .blog-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width:577px) and (max-width:992px){
    .blog-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
.blog{
    width: 400px;
    padding: 40px 20px 10px 30px;
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow: 15px 15px 15px #868686,
        -15px -15px 70px #ffffff;
    margin-top: 100px;
    margin: 0 auto;
    position: relative;
}