.blog-title{
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}
.blog{
    width: 400px;
    padding: 40px 20px 10px 30px;
    border-radius: 19px;
    border-radius: 10px;
background: #ADE8F4;
box-shadow:  5px 5px 10px #93c5cf,
             -5px -5px 10px #c7ffff;
    margin-top: 100px;
    margin: 0 auto;
}
@media only screen and (max-width:576px){
    .blog-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width:577px) and (max-width:992px){
    .blog-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
