.service-container{
    /* width: 400px; */
    padding: 40px 20px 10px 30px;
    border-radius: 19px;
    border-radius: 10px;
    background: #ADE8F4;
    box-shadow:  5px 5px 10px #93c5cf,
                 -5px -5px 10px #c7ffff;
    margin-top: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.service-image{
    /* width: 300px; */
    margin: auto;
    /* height: 300px; */
    border-radius: 50%;
    overflow: hidden;
    
}

.service-image img{
    height: 100%;
    transition: all .3s;
}
.service-image img:hover{
    transform: scale(1.5);
}
.service-info{
    padding: 40px 0;
}
.service-info h4{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.service-info h3{
    font-size: 35px;
    color: #03045E;
    
}
.service-info p{
    font-weight: 500;
}
.link-button{
    width: 100%;
    text-decoration: none;
    background: #03045E;
    color: #e0e0e0;
    display: block;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .4s;
}
.link-button:hover{
    background: #023E8A;
    color: #fff;
}

@media only screen and (max-width:576px){
    .service-container{
        /* width: 250px; */
        padding: 10px;
    }
    /* .service-image{
        width: 200px;
        height: 200px;

        
    } */
    
}
